@import "../../styles/abstract/mixins";

.cards {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.card {
  background: #fff;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  &__image {
    margin-bottom: 1rem;
    img {
      max-width: 100%;
    }
  }
  &__name {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  &__social {
    font-weight: 300;
    margin-bottom: 0.5rem;
  }
  &__role {
    font-weight: 700;
    margin-bottom: 0.25rem;
  }
  &__quote {
    color: #656565;
    padding: 0 1, 8rem 0;
  }
  &__like {
    display: flex;
    justify-content: flex-end;
    color: #a7b8c3;
    padding-top: 3rem;

    i {
      margin-right: 0.25rem;
    }
  }
}
