@import "../../styles/abstract/mixins";

.header {
  background: #5d1eb2;
  color: #fff;
  padding: 4rem 15% 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  z-index: 1;
  @include mobile {
    padding: 0;
  }

  &__top {
    font-size: 2.5rem;
    display: flex;
    margin-bottom: 4rem;
    text-decoration: none;
    color: #fff;
    @include mobile {
      background: #561ca6;
      display: flex;
      justify-content: center;
      padding: 1.5rem;
      margin: 0;
    }
    &__brand {
      margin-left: 0.5rem;
      text-transform: uppercase;
      font-weight: bold;
      font-style: italic;
      @include mobile {
        display: none;
      }
    }
  }

  &__main {
    margin-bottom: 6rem;

    @include mobile {
      padding: 1rem 2rem 1rem;
    }
    &__title {
      margin-bottom: 1rem;
      font-size: 6.25rem;
      @include mobile {
        font-size: 4rem;
      }
    }
    &__subtitle {
      max-width: 900px;
      font-size: 1.25rem;
      letter-spacing: 2px;
      font-weight: 200;
      @include mobile {
        padding: 1rem 6rem 1rem 0;
      }
    }
  }

  &__bottom {
    display: flex;
    font-size: 1.5rem;
    color: #d1d1d1;

    @include mobile {
      padding: 0 2rem 1rem;
    }
    &__text {
      margin-left: 1rem;
      letter-spacing: 2px;
    }
  }
}
